@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
.input-area > * {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px; /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}
